<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{APP_CSS}bootstrap.css">
    <title>Document</title>
</head>
<body>

<form action="/shk/2006/server/mvc/admin.php/admin/reg/tishi" method="post" class="reg">
    用户名： <input type="text" name="uname" >
    密码： <input type="password" name="upassword">
    再次确认密码:<input type="password" name="upassword1">
    <input type="submit" value="注册">

    <button ><a href="/shk/2006/server/mvc/template/admin.html">登录</a></button>
</form>
<script src="{APP_JS}jquery.js">

</script>
<script src="{APP_JS}jquery.validate.js"></script>
<script src="{APP_JS}admin.js"></script>
</body>
</html>